<script src="//maps.google.com/maps/api/js?v=3.23&key=AIzaSyC8Hr3MPNrJIGgDvsmkFH1GqboB6DYgUwg"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->

<div class="page-header">
  <%= link_to new_trip_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Trip
  <% end %>
  <h1>Listing trips</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Name</th>
            <th>Address</th>
            <th>Title</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @trips) do |trip| %>
            <td><%= trip.latitude %></td>
            <td><%= trip.longitude %></td>
            <td><%= trip.name %></td>
            <td><%= trip.address %></td>
            <td><%= trip.title %></td>
            <td><%= link_to 'Show', trip %></td>
        <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
        <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>

<div style='height:400px; position: relative; padding-bottom: 75%; height: 0; overflow:hidden'>
  <div id="map" style='width: 100%; height: 100%; position: absolute; top: 0; left: 0;'></div>
</div>

<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({
    provider: {
      disableDefaultUI: true
      // pass in other Google Maps API options here
    },
    internal: {
      id: 'map'
    }
  },
  function(){
    markers = handler.addMarkers([
      {
        "lat": 0,
        "lng": 0,
        "picture": {
          "url": "http://people.mozilla.com/~faaborg/files/shiretoko/firefoxIcon/firefox-32.png",
          "width":  32,
          "height": 32
        },
        "infowindow": "hello!"
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  }
);

</script>
